.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    border:2px solid pink;
    width:800px;
    height: 50vh;
    padding: 9px;
    background-color: rgb(26, 26, 54);
}
.quesno{
    color: violet;
    margin: 1%;
}
.QuizContainer{
    display: flex;
   
    flex-flow: row nowrap;
    color: white;
    padding: 9px;

}
.Question{
    display: flex;
    padding-left:2%;
    justify-content: center;
    width: 400px;
    height: 40vh;
}
.ques{
    display: block;
}
.options{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 40vh;
}
.option{
 cursor: pointer;
 
}
.singleOption{
    display: flex;
    border: 2px solid grey;
    border-radius: 15px;
    margin: 7%;
    padding: 9px;
    width: 100%;
    cursor: pointer;
}
.answer{
    display: block;
}

.singleOption:hover{
    background-color: green;
    border: 2px solid white;
    border-radius: 15px;
    
}
.displayScore{
    color: white;
   
}

@media(max-width:480px){

}
