@import url('https://fonts.googleapis.com/css2?family=Anton&family=Assistant:wght@300&family=Dosis:wght@300;500&family=Duru+Sans&family=Fresca&family=Niconne&family=Questrial&family=Rajdhani&family=Rambla&family=Zen+Kurenaido&display=swap');
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    border:2px solid pink;
    width:800px;
    height: 50vh;
    padding: 9px;
    background-color: rgb(26, 26, 54);
    box-shadow: 1px 1px 1px 1px grey;
}
.quesno{
    color: violet;
    margin: 1%;
  
}
.QuizContainer{
    display: flex;
    font-family: 'Assistant', sans-serif;
    flex-flow: row nowrap;
    color: white;
    padding: 9px;

}
.Question{
    display: flex;
    padding-left:2%;
    justify-content: center;
    width: 400px;
    height: 40vh;
   
}
.ques{
    display: block;
}
.options{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 40vh;
}
.option{
 cursor: pointer;
 
}
.singleOption{
    display: flex;
    border: 2px solid grey;
    border-radius: 15px;
    margin: 7%;
    padding: 9px;
    width: 100%;
    cursor: pointer;
}
.answer{
    display: block;
}

.singleOption:hover{
    background-color: green;
    border: 2px solid white;
    border-radius: 15px;
    
}
.displayScore{
    color: white;
   
}

@media(max-width:480px){
    .card{
        display: flex;
        justify-content: center;  
        border-radius:15px;
        border:2px solid pink;
        width:350px;
        height: 60vh;
        padding: 9px;
        background-color: rgb(26, 26, 54);
        box-shadow: 1px 1px 1px 1px grey;
    }
    .cardCointainer{
        width: 100%;
    }
    .QuizContainer{
        display: inline-flex;
        justify-content: center;
        font-family: 'Assistant', sans-serif;
        flex-flow: row wrap;
        color: white;
        font-size: 60%;
    }
    
    .options{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    height: 40vh;
    margin-top: 2%;
}
.ques{
    display: inline;
    text-align: center;

}
.quesno{
    display: inline;

}
}

@media (max-width: 900px) and (min-width: 480px) {
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:15px;
        border:2px solid pink;
        width:300px;
        height: 105vh;
        padding: 9px;
        background-color: rgb(26, 26, 54);
        box-shadow: 1px 1px 1px 1px grey;
    }

    .cardCointainer{
        width: 100%;
    }
    .QuizContainer{
        display: inline-flex;
        justify-content: center;
        font-family: 'Assistant', sans-serif;
        flex-flow: row wrap;
        color: white;
        font-size: 60%;
    }
    
    .options{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    height: 50vh;
    margin-top: 2%;
    }
  .ques{
    display: inline;
    text-align: center;
}
.quesno{
    display: inline;
}


}
