
.AppContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 85vh;
    background-color: blueviolet;

}
.formInput{
 margin-top: 10%; 
}
.QuizContainer{
    display: flex; 
   justify-content: center;
    text-align: center;
}
.QuizContainerContent{
  display: block;
 
}
.welcome{
    margin: 2%;
}
